{% extends "ProyectoWebApp/base.html" %}
{% load static %}
{% block content %}
  <section style="display: flex; align-items: flex-start; gap: 1rem; padding: 1rem;">
    <!-- ------------------------------------- -->
    <!-- Sección izquierda: tu contenido aquí -->
    <!-- ------------------------------------- -->
    <div style="flex: 1; padding: 1rem;">
    <div class="row">

    <!--En este apartado esta iterando los productos en la variable producto para rescatar la informacion-->
        {% for producto in productos %}

            <div class="col-md-3">

                <div class="card" style="width: 90%; margin: auto">

                    <img src="{{producto.imagen.url}}" style="height: 200px;" class="card-img-top">

                    <div class="card-body" style="text-align: center;">

                        <h7 class="card-title">{{producto.nombre}}</h7>
                        
                        {% load humanize %}
                        <p class="card-text">$ {{producto.precio_formateado|intcomma}} &nbsp; MXN</p>
                        

                    </div>
                    
                    <div class="card-footer text-center">
                        <a href="{% url 'carro:agregar' producto.id %}" class="btn btn-success">Agregar al carro</a>
                    </div>

                </div>

            </div>

        {% endfor %}

    </div>

</div>

    <!-- ---------------------------- -->
    <!-- Sidebar: tu widget de carrito -->
    <!-- ---------------------------- -->
    <aside style="flex: 0 0 300px; /* ancho fijo */
                  border: 1px solid #ccc;
                  padding: 1rem;
                  box-sizing: border-box;">
      {% include "carro/widget.html" %}
    </aside>

  </section>
{% endblock %}