{% extends "ProyectoWebApp/base.html" %}
{% load static %}
{% block content %}

<div class="container mt-5">
    
    <h2 class="mb-4" style="color: wheat; text-align: center;">Bienvenido {{ request.session.paqueteria_username }}</h2>
    <h2 class="mb-4" style="color: wheat;">Gestión de envíos</h2>

    {% for pedido in pedidos %}
    <div class="card mb-3 p-3">
        <h5>Pedido: {{ pedido.pedido }}</h5>
        <p>Usuario: {{ pedido.username }}</p>

        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="pedido_id" value="{{ pedido.pedido.id }}" style="color: white;">


            <!-- Recolección -->
            <div class="form-check">
                <input type="checkbox" name="recoleccion"
                {% if pedido.proceso_recoleccion %}checked disabled{% endif %}>
                <label class="form-check-label" style="color: wheat;">En recolección</label>
            </div>

            <!-- En ruta -->
            <div class="form-check">
                <input type="checkbox" name="envio"
                {% if pedido.proceso_envio %}checked disabled{% endif %}>
                <label class="form-check-label" style="color: wheat;">En ruta</label>
            </div>
            
            <!-- Entregado -->
            <div class="form-check">
                <input type="checkbox" name="entregado"
                {% if pedido.entregado %}checked disabled{% endif %}>

                <label class="form-check-label" style="color: wheat;">Entregado</label>
            </div>

            <button type="submit" class="btn btn-success mt-3">Actualizar</button>
        </form>
    </div>
    {% endfor %}

</div>

{% endblock %}
