{% extends "ProyectoWebApp/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card shadow p-4" style="width: 400px; background-color: #2c2f33; border-radius: 10px;color: wheat;">
        <h2 class="mb-4 text-center" style="color: wheat;">Login Usuario</h2>

        <form method="post" action="">
            {% csrf_token %}

            <!-- Mensajes -->
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} text-center mb-3">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <!-- Formulario crispy -->
            {{ form|crispy }}

            <button type="submit" class="btn btn-success w-100 mt-3">Login</button>
        </form>
    </div>
</div>

{% endblock %}
